body{
    font-family:'Noto Sans TC', sans-serif;
}

.mt-card{
    margin-top:1rem;
}

#result, #details{
    /* margin:0px; */
    max-width:100%;
}

.card-image{
    width:20%;
    height:20%;
    margin:auto;
    transition:all 2s;
}

.card-image:hover{
    width:40%;
    height:40%;
}

#detailsBtn{
    transition:all 1s;
}

#detailsBtn:hover{
    background-color:rgb(177, 112, 112);
}

.card-header-title{
    color:white;
    background-color:rgb(57, 56, 56);
}

.content{
    /* color:white; */
}
